<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="..\style.css"/>


    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{path('resa_homepage')}}">Louvre</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Infos pratiques</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('resa_formpage')}}">Réserver une visite</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
        </div>
      </nav>
        <div class="container-fluid">
            <header>
              <div class="row bandeau">
                <div class="col text-center">
                  <h1 class="display-1">Votre commande</h1>
                </div>
              </div>
            </header>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              {% for message in app.session.flashbag.get('notice') %}
              {{message}}{% endfor %}
              <div class="row">
                <div class="col">
                  Récapitulatif de commande <br>
                  {{reservation.numSerieResa}}<br>
                  {{reservation.email}}<br>
                </div>
              </div>
              <div class="row">
                  {% for billet in reservation.billets %}
                  <div class="col">
                    {{billet.nom}}<br>
                    {{billet.prenom}}<br>
                    {{billet.dateVisite}}<br>
                    {{billet.type}}<br>
                    {{billet.numSerie}}<br>
                    reduction: {{billet.reduction}}<br>
                  {% endfor %}
                  prix total: {{reservation.prixTotal}}
                </div>
              </div>
              <form action="{{path('resa_payment')}}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_GAKyZMRuWz8zY7dCV97828Lt"
                  data-amount="999"
                  data-name="Alexandre PIGNOLET"
                  data-description="Example charge"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto"
                  data-currency="eur">
                </script>
              </form>
            </div>
          </div>
          <div class="row">
            <a href="{{path('resa_payment')}}" id="payment_action" class="btn btn-default">Passer au paiement</a>
          </div>
        </div>

        <footer>

      </footer>
    </body>
</html>
